html, body{
    height: 100%;
    flex: auto;
}

.hide {
    display: none;
}


.cityBtn:hover {
    cursor: pointer;
}

.green{
    background-color: green;
    color: white;
}

.moderate{
    background-color: yellow;
    color: black;
}

.severE{
    background-color: red;
    color: white;
}