html, body, .contentRow, .container-fluid {
    height: 100%;
}

.hide {
    display: none;
}


.cityBtn:hover {
    cursor: pointer;
}

.favorable{
    background-color: green;
    color: white;
}

.moderate{
    background-color: yellow;
    color: black;
}

.sever{
    background-color: red;
    color: white;
}