body{
    height: 100%;
    /* display: flex; */
}

.hide {
    display: none;
}


.cityBtn:hover {
    cursor: pointer;
}

.green{
    background-color: green;
    color: white;
}

.moderate{
    background-color: yellow;
    color: black;
}

.severe{
    background-color: red;
    color: white;
}

.card-body, .city-info {
    background-color: rgb(165, 227, 248);
}